@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

/* .custom-select::before, */
.custom-select::after {
  --size: 0.35rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

/* .custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
} */

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid #6b7280;
  top: 50%;
  transform: translateY(-50%);
}
